{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta content="width=device-width, initial-scale=1.0" name="viewport">

  <title>Election Complain Email Bot</title>
  <meta content="" name="description">
  <meta content="" name="keywords">

  <!-- Favicons -->
  <!-- <link href="{% static 'assets/img/favicon.png' %}"  rel="icon"> -->  <!-- tab icon-->
  <!-- <link href="{% static 'assets/img/apple-touch-icon.png' %}" rel="apple-touch-icon"> -->

  <!-- Google Fonts -->
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300;0,400;0,500;0,600;0,700;1,300;1,400;1,600;1,700&family=Amatic+SC:ital,wght@0,300;0,400;0,500;0,600;0,700;1,300;1,400;1,500;1,600;1,700&family=Inter:ital,wght@0,300;0,400;0,500;0,600;0,700;1,300;1,400;1,500;1,600;1,700&display=swap" rel="stylesheet">

  <!-- Vendor CSS Files -->
  <link href="{% static 'assets/vendor/bootstrap/css/bootstrap.min.css' %}" rel="stylesheet">
  <link href="{% static 'assets/vendor/bootstrap-icons/bootstrap-icons.css' %}" rel="stylesheet">
  <link href="{% static 'assets/vendor/aos/aos.css' %}" rel="stylesheet">
  <link href="{% static 'assets/vendor/glightbox/css/glightbox.min.css' %}" rel="stylesheet">
  <link href="{% static 'assets/vendor/swiper/swiper-bundle.min.css' %}" rel="stylesheet">

  <!-- Template Main CSS File -->
  <link href="{% static 'assets/css/main.css' %}" rel="stylesheet">

  <!-- =======================================================
  * Template Name: Yummy
  * Updated: Mar 10 2023 with Bootstrap v5.2.3
  * Template URL: https://bootstrapmade.com/yummy-bootstrap-restaurant-website-template/
  * Author: BootstrapMade.com
  * License: https://bootstrapmade.com/license/
  ======================================================== -->

  <style>
    .modal {
    display:    none;
    position:   fixed;
    z-index:    1000;
    top:        0;
    left:       0;
    height:     100%;
    width:      100%;
    background: rgba( 255, 255, 255, .8 ) 
                url('http://i.stack.imgur.com/FhHRx.gif') 
                50% 50% 
                no-repeat;
    }

    /* When the body has the loading class, we turn
      the scrollbar off with overflow:hidden */
    body.loading .modal {
        overflow: hidden;   
    }

    /* Anytime the body has the loading class, our
      modal element will be visible */
    body.loading .modal {
        display: block;
    }
  </style>

</head>

<body>

  <!-- ======= Header ======= -->
  <header id="header" class="header fixed-top d-flex align-items-center">
    <div class="container d-flex align-items-center justify-content-between">

      <a href="index.html" class="logo d-flex align-items-center me-auto me-lg-0">
        <!-- Uncomment the line below if you also wish to use an image logo -->
        <!-- <img src="assets/img/logo.png" alt=""> -->
        <h1>Election Complain Email Bot</h1>
        
      </a>
      

      <!-- <nav id="navbar" class="navbar">
        <ul>
          <li><a href="#hero">Home</a></li>
          <li><a href="#about">About</a></li>
          <li><a href="#menu">Menu</a></li>
          <li><a href="#events">Events</a></li>
          <li><a href="#chefs">Chefs</a></li>
          <li><a href="#gallery">Gallery</a></li>
          <li class="dropdown"><a href="#"><span>Drop Down</span> <i class="bi bi-chevron-down dropdown-indicator"></i></a>
            <ul>
              <li><a href="#">Drop Down 1</a></li>
              <li class="dropdown"><a href="#"><span>Deep Drop Down</span> <i class="bi bi-chevron-down dropdown-indicator"></i></a>
                <ul>
                  <li><a href="#">Deep Drop Down 1</a></li>
                  <li><a href="#">Deep Drop Down 2</a></li>
                  <li><a href="#">Deep Drop Down 3</a></li>
                  <li><a href="#">Deep Drop Down 4</a></li>
                  <li><a href="#">Deep Drop Down 5</a></li>
                </ul>
              </li>
              <li><a href="#">Drop Down 2</a></li>
              <li><a href="#">Drop Down 3</a></li>
              <li><a href="#">Drop Down 4</a></li>
            </ul>
          </li>
          <li><a href="#contact">Contact</a></li>
        </ul>
      </nav>    .navbar -->

      <a href="#"><img src="{%static 'bjp-logo.png' %}" style="width: 35%;"></a>
      <i class="mobile-nav-toggle mobile-nav-show bi bi-list"></i>
      <i class="mobile-nav-toggle mobile-nav-hide d-none bi bi-x"></i>
      <br><h5>Created by Jagadeesh & Abhishek Chatterjee</h5>

    </div>
  </header><!-- End Header -->

  <!-- ======= Hero Section ======= -->
  <section id="hero" class="hero d-flex align-items-center section-bg" style="padding: None;min-height: 75vh;">
    <div class="container">
      <div class="row justify-content-between gy-5">

        <div class="col-lg-3 col-md-3">
          <h5 data-aos="fade-up">To Email</h5>
          <input type="text" name="toemail" class="form-control" id="toemail" placeholder="To Email" data-rule="minlen:4" data-msg="Please enter at least 4 chars">
          <div class="validate"></div>
        </div>

        <div class="col-lg-3 col-md-3">
          <h5 data-aos="fade-up">CC Email</h5>
          <input type="text" name="ccemail" class="form-control" id="ccemail" placeholder="CC Email" data-rule="minlen:4" data-msg="Please enter at least 4 chars">
          <div class="validate"></div>
        </div>

        <div class="col-lg-3 col-md-3">
          <h5 data-aos="fade-up">To Text</h5>
          <input type="text" name="totext" class="form-control" id="totext" placeholder="To Text" data-rule="minlen:4" data-msg="Please enter at least 4 chars">
          <div class="validate"></div>
        </div>

        <div class="col-lg-3 col-md-3">
          <h5 data-aos="fade-up">CC Text</h5>
          <input type="text" name="cctext" class="form-control" id="cctext" placeholder="CC Text" data-rule="minlen:4" data-msg="Please enter at least 4 chars">
          <div class="validate"></div>
        </div>
      </div>
      <br>
      <div class="row justify-content-between gy-5">

        <div class="col-lg-3 col-md-3">
          <h5 data-aos="fade-up">From Email</h5>
          <input type="text" name="fromemail" class="form-control" id="fromemail" placeholder="From Email" data-rule="minlen:4" data-msg="Please enter at least 4 chars">
          <div class="validate"></div>
        </div>

        <div class="col-lg-3 col-md-3">
          <h5 data-aos="fade-up">From CC Email</h5>
          <input type="text" name="fromccemail" class="form-control" id="fromccemail" placeholder="From CC Email" data-rule="minlen:4" data-msg="Please enter at least 4 chars">
          <div class="validate"></div>
        </div>

        <div class="col-lg-3 col-md-3">
          <h5 data-aos="fade-up">From Text</h5>
          <input type="text" name="fromtext" class="form-control" id="fromtext" placeholder="From Text" data-rule="minlen:4" data-msg="Please enter at least 4 chars">
          <div class="validate"></div>
        </div>

        <div class="col-lg-3 col-md-3">
          <h5 data-aos="fade-up">From CC Text</h5>
          <input type="text" name="fromcctext" class="form-control" id="fromcctext" placeholder="From CC Text" data-rule="minlen:4" data-msg="Please enter at least 4 chars">
          <div class="validate"></div>
        </div>

        

      </div><br>

      <div class="row justify-content-between gy-5">

        <div class="col-lg-3 col-md-3">
          <h5 data-aos="fade-up">Panchayat</h5>
          <input type="text" name="panchayat" class="form-control" id="panchayat" placeholder="Panchayat" data-rule="minlen:4" data-msg="Please enter at least 4 chars">
          <div class="validate"></div>
        </div>

        <div class="col-lg-3 col-md-3">
          <h5 data-aos="fade-up">Area (polling both)</h5>
          <input type="text" name="arepollingboth" class="form-control" id="arepollingboth" placeholder="Area (polling both)" data-rule="minlen:4" data-msg="Please enter at least 4 chars">
          <div class="validate"></div>
        </div>

        <div class="col-lg-3 col-md-3">
          <h5 data-aos="fade-up">Name of accused</h5>
          <input type="text" name="nameofaccused" class="form-control" id="nameofaccused" placeholder="Name of accused" data-rule="minlen:4" data-msg="Please enter at least 4 chars">
          <div class="validate"></div>
        </div>


        <div class="col-lg-3 order-2 order-lg-1 d-flex flex-column justify-content-center align-items-center align-items-lg-start text-center text-lg-start">
          <h5 data-aos="fade-up">Evidence</h5>
          <div class="d-flex" data-aos="fade-up" data-aos-delay="200">
            <div class="col-lg-12 col-md-6">
              <input type="file" class="form-control" name="evidencefile" id="evidencefile" placeholder="Select File">
            </div>
          </div>
        </div>

      </div>
      <br>
      <div class="row justify-content-between gy-5">

        <div class="col-lg-6 col-md-6">
        
          <h5 data-aos="fade-up">Nature of complaint</h5>
          <select id="pets" class="form-select" multiple="" aria-label="multiple select example">
            <option value="" selected="">Please Select Option</option>
            <option value="Elections being rigged, by local goons">Elections being rigged, by local goons</option>
            <option value="State Police facilitating, local goons">State Police facilitating, local goons</option>
            <option value="Local goons with arms & explosives (lethal Weapons)">Local goons with arms & explosives (lethal Weapons)</option>
            <option value="Local goons with blades & sticks (blunt Weapons)">Local goons with blades & sticks (blunt Weapons)</option>
            <option value="Verbal Threat to voters (property & livelihood damage)">Verbal Threat to voters (property & livelihood damage)</option>
            <option value="Verbal Threat to voters (life threat to self & family)">Verbal Threat to voters (life threat to self & family)</option>
            <option value="Physical brawl & threat with voters (blood shed)">Physical brawl & threat with voters (blood shed)</option>
            <option value="Mob gathering (disguised local goons)">Mob gathering (disguised local goons)</option>
            <option value="Disrupting& blocking free & fair election">Disrupting& blocking free & fair election</option>
            <option value="Mishandling EVM machines">Mishandling EVM machines</option>
            <option value="Corrupt /biased polling agent">Corrupt /biased polling agent</option>
            <option value="Corrupt /biasedState police officers">Corrupt /biasedState police officers</option>
            <option value="Mishandling EVM machines">Mishandling EVM machines</option>
            <option value="Injured Voters, party workers & civilains(Injured) - Requiring Hospitalization">Injured Voters, party workers & civilains(Injured) - Requiring Hospitalization</option>
            <option value="Injured Voters, party workers & civilains (Severe & Life threatening) - Requiring Hospitalization">Injured Voters, party workers & civilains (Severe & Life threatening) - Requiring Hospitalization</option>
            <option value="1">Write your own….</option>
          </select>

        </div>

        <div class="col-lg-3 col-md-3" id="messagebo" style="display: none;">
          <textarea class="form-control" name="messagetext" id="messagetext" rows="5" placeholder="Message" required=""></textarea>
        </div>

        <div class="col-lg-3 col-md-3 text-center text-lg-start d-flex align-items-center justify-content-center">
          <div class="text-center"><button class="btn-book-a-table" type="button" onclick="uploadfile();">Submit Request</button></div>
        </div>

        <!-- <div class="col-lg-5 order-1 order-lg-2 text-center text-lg-start">
          <img src="assets/img/hero-img.png" class="img-fluid" alt="" data-aos="zoom-out" data-aos-delay="300">
        </div> -->
      </div>
    </div>
  </section>
  <!-- End Hero Section -->

  <main id="main">

    <!-- ======= About Section ======= -->
   

    <!-- ======= Why Us Section ======= -->
    <!-- End Why Us Section -->

    <!-- ======= Stats Counter Section ======= -->
    <!-- End Stats Counter Section -->

    <!-- ======= Menu Section ======= -->
    <!-- End Menu Section -->

    <!-- ======= Testimonials Section ======= -->
    <!-- End Testimonials Section -->

    <!-- ======= Events Section ======= -->
    <!-- End Events Section -->

    <!-- ======= Chefs Section ======= -->
    <!-- End Chefs Section -->

    <!-- ======= Book A Table Section ======= -->
    <!-- <section id="book-a-table" class="book-a-table">
      <div class="container" data-aos="fade-up">

        <div class="section-header">
          <h2>Book A Table</h2>
          <p>Book <span>Your Stay</span> With Us</p>
        </div>

        <div class="row g-0">

          <div class="col-lg-4 reservation-img" style="background-image: url(assets/img/reservation.jpg);" data-aos="zoom-out" data-aos-delay="200"></div>

          <div class="col-lg-8 d-flex align-items-center reservation-form-bg">
            <form action="forms/book-a-table.php" method="post" role="form" class="php-email-form" data-aos="fade-up" data-aos-delay="100">
              <div class="row gy-4">
                <div class="col-lg-4 col-md-6">
                  <input type="text" name="name" class="form-control" id="name" placeholder="Your Name" data-rule="minlen:4" data-msg="Please enter at least 4 chars">
                  <div class="validate"></div>
                </div>
                <div class="col-lg-4 col-md-6">
                  <input type="email" class="form-control" name="email" id="email" placeholder="Your Email" data-rule="email" data-msg="Please enter a valid email">
                  <div class="validate"></div>
                </div>
                <div class="col-lg-4 col-md-6">
                  <input type="text" class="form-control" name="phone" id="phone" placeholder="Your Phone" data-rule="minlen:4" data-msg="Please enter at least 4 chars">
                  <div class="validate"></div>
                </div>
                <div class="col-lg-4 col-md-6">
                  <input type="text" name="date" class="form-control" id="date" placeholder="Date" data-rule="minlen:4" data-msg="Please enter at least 4 chars">
                  <div class="validate"></div>
                </div>
                <div class="col-lg-4 col-md-6">
                  <input type="text" class="form-control" name="time" id="time" placeholder="Time" data-rule="minlen:4" data-msg="Please enter at least 4 chars">
                  <div class="validate"></div>
                </div>
                <div class="col-lg-4 col-md-6">
                  <input type="number" class="form-control" name="people" id="people" placeholder="# of people" data-rule="minlen:1" data-msg="Please enter at least 1 chars">
                  <div class="validate"></div>
                </div>
              </div>
              <div class="form-group mt-3">
                <textarea class="form-control" name="message" rows="5" placeholder="Message"></textarea>
                <div class="validate"></div>
              </div>
              <div class="mb-3">
                <div class="loading">Loading</div>
                <div class="error-message"></div>
                <div class="sent-message">Your booking request was sent. We will call back or send an Email to confirm your reservation. Thank you!</div>
              </div>
              <div class="text-center"><button type="submit">Book a Table</button></div>
            </form>
          </div> End Reservation Form 

        </div>

      </div>
    </section>End Book A Table Section -->

    <!-- ======= Gallery Section ======= -->
   <!-- End Gallery Section -->
    

  </main><!-- End #main -->

  <!-- ======= Footer ======= -->
  <footer id="footer" class="footer">

    <div class="container">
      <!-- <div class="row gy-3">
        <div class="col-lg-3 col-md-6 d-flex">
          <i class="bi bi-geo-alt icon"></i>
          <div>
            <h4>Address</h4>
            <p>
              A108 Adam Street <br>
              New York, NY 535022 - US<br>
            </p>
          </div>

        </div>

        <div class="col-lg-3 col-md-6 footer-links d-flex">
          <i class="bi bi-telephone icon"></i>
          <div>
            <h4>Reservations</h4>
            <p>
              <strong>Phone:</strong> +1 5589 55488 55<br>
              <strong>Email:</strong> info@example.com<br>
            </p>
          </div>
        </div>

        <div class="col-lg-3 col-md-6 footer-links d-flex">
          <i class="bi bi-clock icon"></i>
          <div>
            <h4>Opening Hours</h4>
            <p>
              <strong>Mon-Sat: 11AM</strong> - 23PM<br>
              Sunday: Closed
            </p>
          </div>
        </div>

        <div class="col-lg-3 col-md-6 footer-links">
          <h4>Follow Us</h4>
          <div class="social-links d-flex">
            <a href="#" class="twitter"><i class="bi bi-twitter"></i></a>
            <a href="#" class="facebook"><i class="bi bi-facebook"></i></a>
            <a href="#" class="instagram"><i class="bi bi-instagram"></i></a>
            <a href="#" class="linkedin"><i class="bi bi-linkedin"></i></a>
          </div>
        </div> -->

      </div>
    </div>

    <div class="container">
      <!-- <div class="copyright">
        &copy; Copyright <strong><span>Sevn3.Ai</span></strong>. All Rights Reserved
      </div> -->
      <div class="credits">
        <!-- All the links in the footer should remain intact. -->
        <!-- You can delete the links only if you purchased the pro version. -->
        <!-- Licensing information: https://bootstrapmade.com/license/ -->
        <!-- Purchase the pro version with working PHP/AJAX contact form: https://bootstrapmade.com/yummy-bootstrap-restaurant-website-template/ -->
        Designed by Jagadeesh & Abhishek Chatterjee
      </div>
    </div>

  </footer><!-- End Footer -->
  <!-- End Footer -->

  <a href="#" class="scroll-top d-flex align-items-center justify-content-center"><i class="bi bi-arrow-up-short"></i></a>

  <div id="preloader"></div>

  <!-- Vendor JS Files -->
  
  <script> 
  
  // function uploadfile1()
  // {
  //   var selected = [];
  //   for (var option of document.getElementById('pets').options)
  //   {
  //       if (option.selected) {
  //           selected.push(option.value);
  //       }
  //   }
  //   alert(selected);
  // }

  </script>
  <script src="{% static 'assets/vendor/bootstrap/js/bootstrap.bundle.min.js' %}"></script>
  <script src="{% static 'assets/vendor/aos/aos.js' %}"></script>
  <script src="{% static 'assets/vendor/glightbox/js/glightbox.min.js' %}"></script>
  <script src="{% static 'assets/vendor/purecounter/purecounter_vanilla.js' %}"></script>
  <script src="{% static 'assets/vendor/swiper/swiper-bundle.min.js' %}"></script>
  <script src="{% static 'assets/vendor/php-email-form/validate.js' %}"></script>

  <!-- Template Main JS File -->
  <script src="{% static 'assets/js/main.js' %}"></script>
  <!-- <script src="{% static 'assets/js/jquery.min.js' %}"></script>  -->
  <!-- <script src="{% static 'assets/js/popper.js' %}"></script> -->
  <!-- <script src="{% static 'assets/js/bootstrap.min.js' %}"></script> -->
  <!-- <script src="{% static 'assets/js/bootstrap-multiselect.js' %}"></script> -->
  <script src="{% static 'assets/js/main.js' %}"></script>
  <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
  <!-- <script src="https://code.jquery.com/jquery-3.7.0.js" integrity="sha256-JlqSTELeR4TLqP0OG9dxM7yDPqX1ox/HfgiSLBj8+kM=" crossorigin="anonymous"></script> -->


  <script>



    $('#pets').change(function(){
        // alert($(this).val());
        if(String($(this).val()) === String("1"))
        {
          // alert($(this).val());
          document.getElementById('messagebo').style.display = "block"; 
          // $('#messagebo').show();
        }
        else{
          document.getElementById('messagebo').style.display = "None";
        }
    })

    function uploadfile()
    {
      var toemail = document.getElementById('toemail').value;
      var ccemail = document.getElementById('ccemail').value;
      var totext = document.getElementById('totext').value;
      var cctext = document.getElementById('cctext').value;
      var fromemail = document.getElementById('fromemail').value;
      var fromccemail = document.getElementById('fromccemail').value;
      var fromtext = document.getElementById('fromtext').value;
      var fromcctext = document.getElementById('fromcctext').value;
      var panchayat = document.getElementById('panchayat').value;
      var arepollingboth = document.getElementById('arepollingboth').value;
      var nameofaccused = document.getElementById('nameofaccused').value;
      
      var selected = {};
      var i = 1;
      if(String($('#pets').val()) === String("1"))
      {
        selected[1] = document.getElementById('messagetext').value;
      }
      else{
        for (var option of document.getElementById('pets').options)
        {
          if (option.selected) {

          selected[i] = option.value;
          i++;
          }
        }
      }
      

      // alert(JSON.stringify(selected));
      var data = new FormData();
      data.append("csrfmiddlewaretoken", "{{ csrf_token }}");
      data.append("toemail",toemail);
      data.append("ccemail",ccemail);
      data.append("totext",totext);
      data.append("cctext",cctext);
      data.append("fromemail",fromemail);
      data.append("fromccemail",fromccemail);
      data.append("fromtext",fromtext);
      data.append("fromcctext",fromcctext);
      data.append("panchayat",panchayat);
      data.append("arepollingboth",arepollingboth);
      data.append("nameofaccused",nameofaccused);


      data.append("natureofcomplaint",JSON.stringify(selected));
      data.append("evidencefile", $("input[id^='evidencefile']")[0].files[0]);

      $.ajax({
          url : 'http://127.0.0.1:8000/uploadfile',
          method : 'POST',
          processData : false,
          contentType : false,
          mimeType: "multipart/form-data",
          data : data,
          success : function(data) {              
              // alert('Data: '+JSON.stringify(data));
              alert("Email Sent Successfully");
              // display_keyvalue_pair(data);
              // location.reload(true);
              setTimeout(function(){// wait for 5 secs(2)
                  location.reload(); // then reload the page.(3)
              }, 5000);

          },
          error : function(request,error)
          {
              alert("Request: "+JSON.stringify(request));
          }
          });
    }

    $body = $("body");

    $(document).on({
        ajaxStart: function() { $body.addClass("loading");},
        ajaxStop: function() { $body.removeClass("loading");}    
    });
                
  </script>

<div class="modal"><!-- Place at bottom of page --></div>

</body>

</html>